html{
    background-color: grey;
    font-family:Arial, Helvetica, sans-serif ;
    
}

body{
    width: 65%;
    height:70rem;
    margin:0 auto;
    background-color: azure; 
}


.main{
    height: 400px;
    background-color: #EEEEEE;

}


header{
    height:190px;
    background-color: black;
    display: flex;
    justify-content:space-between;

}



header .name{
   
    color:white;
    margin-left: 50px;
    margin-top:30px;
}
header img{
    width: 130px;
    height: 130px;
    margin-top: 30px;
    margin-right: 60px;
    border: 6px solid #FF9999	;
  
}
.container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    
    
}
.container .left-colum{
    margin-right: 100px;
    
}
.work_experience{
    display:inline;
    margin-right: 300px;


}


 .bar-office{
    border:1px solid black;
    width :25rem;
    height: 5px;
 }
 .bar-office .fill-bar{
    height:5px;
    width:80%;
    background: black;
 }

 .bar-english{
    border:1px solid black;
    width :25rem;
    height: 5px;
 }
 .bar-english .fill-bar{
    height:6px;
    width:55%;
    background: black;
 }
.like-list{
    display:flex;
    justify-content: space-between;
    margin-right:100px;
}   
ul{
    padding-left: 15px;
}





   



